{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Profile - {{user_profile.user.username}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- manin stylesheet -->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<style>
    a{
        text-decoration: underline;
        color: #ce8460;
        font-family: serif;
    }
    a:hover{
        color: #ce8460;
    }
    svg{
        color: #ce8460;
    }
    .btn-light {
        color: #212529;
        background-color: white;
        border-color: #ce8460;
    }
    
    .btn-light:hover {
        color: white;
        background-color: #ce8460;
        border-color: #ce8460
    }
    
</style>
</head>
<body>

<section class="section about-section gray-bg" id="about">
            <div class="container p-3">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <h3 class="dark-color" style="color: #ce8460; font-weight: bold; font-family: Lucida Console">@{{user_profile.user.username}}</h3>
                
                         <h6>{{user_profile.location}}</h6>
                            <p>{{user_profile.bio}}</p> 
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-avatar d-flex justify-content-center">
                            <img src="{{user_profile.profileimg.url}}" width="200" height="200" title="" alt="">
                        </div>
                    </div>
                </div>
                <hr>
                
                <div class="counter p-1"><form action="/follow" method="POST">
					{% csrf_token %}
                    <div class="row">
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                {% if user_post_length == 0 %}
                                <h6 class="count h2" data-to="500" data-speed="500">No Post</h6>
                                {% elif user_post_length == 1 %}
                                <h6 class="count h2" data-to="150" data-speed="150">{{user_post_length}}</h6>
                                <p class="m-0px font-w-600">Post</p>
                                {% else %}
                                <h6 class="count h2" data-to="150" data-speed="150">{{user_post_length}}</h6>
                                <p class="m-0px font-w-600">Posts</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                {% if user_followers == 0 or user_followers == 1 %}
                                <h6 class="count h2" data-to="150" data-speed="150">{{user_followers}}</h6>
                                <p class="m-0px font-w-600">follower</p>
                                {% else %}
                                <h6 class="count h2" data-to="150" data-speed="150">{{user_followers}}</h6>
                                <p class="m-0px font-w-600">followers</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="850" data-speed="850">{{user_following}}</h6>
                                <p class="m-0px font-w-600">following</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <input type="hidden" value="{{user.username}}" name="follower" />
					<input type="hidden" value="{{user_object.username}}" name="user" />
                                {% if user_object.username == user.username %}
					<a href="/settings" data-ripple="">Account Settings</a>
					{% else %}
					<a data-ripple=""><button class="btn btn-light" type="submit">{{button_text}}</button></a>
					{% endif %}
                    <div class="p-3">
                    <a href="/" data-ripple="">Home</a></div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <hr>
            </div>
        </section>

                <div class="container col-12 col-md-8 col-xl-8 d-flex align-items-center">
                    <div class="row d-flex align-items-center">
                        {% for post in user_posts reversed%}
                        <div class="conta">
                        <div class="col-md-12 grid-margin">
                            <div class="card rounded">
                                <div class="card-header">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                          <!--  <img class="img-xs rounded-circle" src="" alt="">-->
                                            <div class="ml-2">
                                                <span class="block font-semibold "><a href="/profile/{{post.user}}"><h4>@{{post.user|lower}}</h4></a></span>
                                                <p class="tx-11 text-muted">{{post.created_at}}</p>
                                            </div>
                                        </div>
                                     
                                    </div>
                                </div>
                                
                                <div class="card-body">
                                    <p class="mb-3 tx-14">{{post.caption}}</p>
                                    {% if post.image %}
                                    <div class="d-flex justify-content-center">
                                    <img class="img-fluid" src="{{post.image.url}}" width="400" alt="">
                                </div>
                                    {% else %}
                                        
                                {% endif %}
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex post-actions">
                                        <a href="/like-post?post_id={{post.id}}" class="d-flex align-items-center text-muted mr-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart icon-md">
                                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                            </svg>
                                            <p class="d-none d-md-block ml-2 mx-2">Like</p>
                                        </a>
                                        {% if post.no_of_likes == 0 %}
                                                    <p>No likes</p>
                                                    {% elif post.no_of_likes == 1 %}
                                                    <p>Liked by {{post.no_of_likes}} person</p>
                                                    {% else %}
                                                    <p>Liked by {{post.no_of_likes}} people</p>
                                                    {% endif %}
                                    
                                        <svg class="bi" width="32" height="32" fill="currentColor">
                                            <use xlink:href="bootstrap-icons.svg#heart-fill"/>
                                          </svg>
                                          {% if post.image %}
                                       
                                        <a href="{{post.image.url}}" class="d-flex justify-content-end" download>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
                                            <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                                            <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
                                          </svg>
                                        </a>
                                        {% else %}
                                        
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                    </div>
                </div>

        </body>
        </html>